# Dependencies
node_modules/
package-lock.json
yarn.lock

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
*.log

# Build
dist/
build/
.next/
out/

# Env
.env
.env.local

# Misc
.cache/
.parcel-cache/
